
<li>
  <img src="{{ follower.avatar(40) }}">
  <div class="follow-info">
    <a href="{{ url_for('users.profile', username=follower.username) }}">
      {{ follower.full_name }}
    </a>
    <p class="last-seen">
      Last seen: {{ moment(user.last_seen).fromNow() }}
    </p>
  </div>
  {% if current_user != follower %}
    {% if current_user.is_following(follower) %}
    <a href="{{ url_for('users.user_action', username=follower.username, action='unfollow') }}">
      Unfollow
    </a>
    {% else %}
    <a href="{{ url_for('users.user_action', username=follower.username, action='follow') }}">
      Follow
    </a>
    {% endif %}
  {% endif %}
</li>

