
<li>
  <a class="profile-picture" href="{{ url_for('users.profile', username=list_user.username) }}">
    <img src="{{ list_user.avatar(30) }}">
  </a>
  <a href="{{ url_for('users.profile', username=list_user.username) }}">
    {{ list_user.full_name }}
  </a>
  {% if current_user != list_user %}
    {% if current_user.is_following(list_user) %}
    <a class="btn btn-unfollow" href="{{ url_for('users.user_action', username=list_user.username, action='unfollow') }}">
      Unfollow
    </a>
    {% else %}
    <a class="btn btn-follow" href="{{ url_for('users.user_action', username=list_user.username, action='follow') }}">
      Follow
    </a>
    {% endif %}
  {% endif %}
</li>

