{% if request.endpoint == 'users.home' %}
  {% set placeholder = 'What\'s on your mind?' %}
{% elif request.endpoint == 'users.profile' %}
  {% set placeholder = 'Write on {}\'s wall!'.format(user.first_name) %}
{% elif request.endpoint == 'users.post' %}
  {% set placeholder = 'Write a comment!' %}
  {% set submit_value = 'Submit Comment' %}
{% endif %}

{% if not submit_value %}
  {% set submit_value = 'Submit Post' %}
{% endif %}

<form class="post-form" method="post" novalidate>
  <div class="field-container">
    {% if form.body.errors %}
    {{ form.body(class="input-error", placeholder=placeholder) }}
    <p>{{ form.body.errors[0] }}</p>
    {% else %}
    {{ form.body(placeholder=placeholder) }}
    {% endif %}
  </div>
  {{ form.submit(class='btn btn-gradient-gray', value=submit_value) }}
  {{ form.csrf_token }}
</form><!--//END .post-form-->

