
<div class="post">
  <div class="post-header">
    <img src="{{ post.author.avatar(40) }}">
    <p class="post-info">
      <a href="{{ url_for('users.profile', username=post.author.username) }}">{{ post.author.full_name }}</a>
      <time>{{ moment(post.created).fromNow() }}</time>
    </p>
    {% if current_user == post.author or post.recipient_id == current_user.id %}
    <a class="delete-post" href="{{ url_for('users.user_action', username=post.author.username, action='delete-post', post_id=post.id) }}" title="Delete post">X</a>
    {% endif %}
  </div>
  <p class="post-body">{{ post.body }}</p>
  <div class="post-control-container">
    {% if current_user.has_liked_post(post) %}
    <a href="{{ url_for('users.post_action', post_id=post.id, action='unlike') }}">Unlike</a>
    {% else %}
    <a href="{{ url_for('users.post_action', post_id=post.id, action='like') }}">Like</a>
    {% endif %}
    <a class="like-count" href="{{ url_for('users.post_likes', username=post.author.username, post_id=post.id) }}">
      {{ post.likes.count() }} likes
    </a>
  </div>
</div><!--//END .post-->

