
<div class="profile-info-container">
  <div class="name-followers-container">
    <a class="name-avatar" href="{{ url_for('users.profile', username=user.username) }}">
      <img src="{{ user.avatar(60) }}">
      <h2>{{ user.first_name }}<br>{{ user.last_name }}</h2>
    </a>
    <div class="followers-container followers-profile-container">
      <a href="{{ url_for('users.followers', username=user.username) }}">
        Followers <span>{{ user.get_followers.count() }}</span>
      </a>
      <a href="{{ url_for('users.following', username=user.username) }}">
        Following <span>{{ user.get_followed.count() }}</span>
      </a>
    </div>
  </div><!--//END .name-followers-container-->

  {% if current_user != user %}
    {% if current_user.is_following(user) %}
    <a class="profile-follow button" href="{{ url_for('users.user_action', username=user.username, action='unfollow') }}">
      Unfollow
    </a>
    {% else %}
    <a class="profile-follow button" href="{{ url_for('users.user_action', username=user.username, action='follow') }}">
      Follow
    </a>
    {% endif %}
  {% endif %}

  {% if user.bio %}
  <div class="bio-container">
    <p>{{ user.bio }}</p>
  </div><!--//END .bio-container-->
  {% endif %}

  {% if user.location %}
  <div class="other-info-container">
    {% if user.location %}
    <p>- {{ user.location }}</p>
    {% endif %}
  </div><!--//END .other-info-->
  {% endif %}
</div>

