{% extends "/base.html" %}
{% from "/_macros.html" import render_comment_pagination %}

{% block content %}
<div class="comment">
  <div class="grid-comment">
    <ul class="comment-list">
      {% include "users/_comment.html" %}
    </ul><!--//END .comment-list-->
    <div class="comment-likes-wrapper">
      <div class="main-container">
        <div class="header-group">
          <i class="fas fa-heart"></i>
          <h3>Users who like this comment</h3>
        </div><!--//END .header-group-->
        {% if likes.items %}
        <ul class="list-users">
          {% for like in likes.items %}
          {% set list_user = like.user %}
          {% include "users/_list-user.html" %}
          {% endfor %}
        </ul><!--//END .list-users-->
        {% else %}
        <p>
          Nobody has liked this comment yet.
          <a href="{{ url_for('users.comment_action', comment_id=comment.id, action='like-comment') }}">
            Be the first to like it!
          </a>
        </p>
        {% endif %}
      </div><!--//END .main-container-->
    </div><!--//END .comment-likes-wrapper-->
  </div><!--//END .grid-comment-->
</div><!--//END .comment-->
{% endblock %}

