{% extends "/base.html" %}

{% from "/_macros.html" import render_pagination %}

{% block content %}
<div class="grid-profile-container">
  {% include "/users/_profile-info.html" %}
  
  <div class="profile-content-container">
    <h3 class="page-sub-title">Followers</h3>

    {% if followers.pages > 1 %}
      {{ render_pagination(followers, 'users.followers', user.username) }}
    {% endif %}

    {% if followers.items %}
    <ul class="list-users">
      {% for list_user in followers.items %}
      {% include "/users/_list-user.html" %}
      {% endfor %}
    </ul>
    {% else %}
    <p class="card">
      {% if current_user == user %}
      You do not have any followers.
      {% else %}
      {{ user.first_name }} doesn't have any followers.
      {% endif %}
    </p>
    {% endif %}

    {% if followers.pages > 1 %}
      {{ render_pagination(followers, 'users.followers', user.username) }}
    {% endif %}
  </div><!--//END .follow-content-->
</div><!--//END .grid-container-->
{% endblock %}
