{% extends "/base.html" %}
     
{% from "/_macros.html" import render_pagination %}

{% block content %}
<div class="grid-profile-container">
  {% include "/users/_profile-info.html" %}

  <div class="profile-content-container">
    <h3 class="page-sub-title">Following</h3>

    {% if following.pages > 1 %}
     {{ render_pagination(following, 'users.following', user.username) }}
    {% endif %}

    {% if following.items %}
    <ul class="list-users">
      {% for list_user in following.items %}
      {% include "/users/_list-user.html" %}
      {% endfor %}
    </ul>
    {% else %}
    <p class="card">
      {% if current_user == user %}
      You are not following anyone.
      {% else %}
      {{ user.first_name }} isn't following anyone.
      {% endif %}
    </p>
    {% endif %}

    {% if following.pages > 1 %}
     {{ render_pagination(following, 'users.following', user.username) }}
    {% endif %}
  </div><!--//END .follow-content-->
</div><!--//END .grid-container-->
{% endblock %}
