{% extends "base.html" %}

{% block content %}
<div class="grid-container">
  <aside class="user-info">
    <div class="profile-info-container">
      <div class="profile-info">
        <img src="{{ current_user.avatar(60) }}">
        <h2>{{ current_user.first_name }}<br>{{ current_user.last_name }}</h1>
      </div>
      <div class="user-numbers">
        <a href="#">Posts <span>{{ current_user.post_author.count() }}</span></a>
        <a href="#">Followers <span>{{ current_user.followers.count() }}</span></a>
        <a href="#">Following <span>{{ current_user.followed.count() }}</span></a>
      </div>
    </div><!--//END .user-info-container-->
  </aside>

  <main class="user-wall">
    <form method="post" novalidate>
      {{ form.body(placeholder="What's on your mind?") }}
      {% if form.body.errors %}
      <ul>
        {% for error in form.body.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {{ form.submit }}
      {{ form.csrf_token }}
    </form>
    {% if posts.items %}
    {% for post in posts.items %}
      {% include "/users/_post.html" %}
    {% endfor %}
    {% else %}
    <p class="card">Nothing to show. Post something, or start following some people.</p>
    {% endif %}
  
    {% if posts.pages > 1 %}
    {% from "/_macros.html" import render_pagination %}
    {{ render_pagination(posts, 'users.home') }}
    {% endif %}
  </main>
</div><!--//END .grid-container-->
{% endblock %}
