{% extends "base.html" %}
{% from "/_macros.html" import render_pagination %}
{% block page_title %}{{ APP_NAME }}{% endblock %}


{% block content %}
<div class="grid-profile-container">
  {% include "/users/_profile-info.html" %} 
  <div class="profile-content-container">
    <form class="post-form" method="post" novalidate>
      <div class="input-container">
        {% if form.body.errors %}
        {{ form.body(class="input-error", placeholder="What's on your mind?") }}
        <p>{{ form.body.errors[0] }}</p>
        {% else %}
        {{ form.body(placeholder="What's on your mind?") }}
        {% endif %}
      </div>
      {{ form.submit }}
      {{ form.csrf_token }}
    </form>
    {% if posts.pages > 1 %}
      {{ render_pagination(posts, 'users.home') }}
    {% endif %}
    {% if posts.items %}
      {% for post in posts.items %}
      {% include "/users/_post.html" %}
      {% endfor %}
    {% else %}
    <p class="card">Nothing to show. Post something, or start following some people.</p>
    {% endif %}
    {% if posts.pages > 1 %}
      {{ render_pagination(posts, 'users.home') }}
    {% endif %}
  </div><!--//END .profile-content-container-->
</div><!--//END .grid-container-->
{% endblock %}
