{% extends "base.html" %}
{% from "_macros.html" import render_pagination %}

{% block content %}
<div class="profile grid responsive-container">
  <div class="grid-profile-info main-container">
    {% include "users/_profile-info.html" %}
  </div><!--//END .grid-profile-info .main-container-->
  <div class="grid-extra-profile-info">
    {% include "users/_extra-profile-info.html" %}
  </div><!--//END .grid-extra-profile-info-->
  <div class="grid-main">
    <div class="header-group page-sub-title">
      <i class="fas fa-book"></i>
      <h3>Posts</h3>
      <a class="back-to-page" href="{{ url_for('users.profile', username=user.username) }}">
        <i class="fa fa-chevron-left"></i> Back to {{ user.first_name }}'s profile
      </a>
    </div><!--//END .header-group-->
    {% if posts.items %}
    <ul class="post-list">
      {% for post in posts.items %}
      {% include "/users/_post.html" %}
      {% endfor %}
    </ul><!--//END .post-list-->
    {% else %}
    <p class="card">
      {% if user == current_user %}
      You haven't
      {% else %}
      {{ user.first_name }} hasn't
      {% endif %}
      posted anything yet.
    </p>
    {% endif %}
  </div><!--//END .grid-main-->
  <div class="grid-who-to-follow main-container">
    {% include "users/_who-to-follow.html" %}
  </div><!--//END .grid-who-to-follow .main-container-->
</div><!--//END .posts-and-follow .grid .responsive-container-->
{% endblock %}
