{% extends "/base.html" %}
{% from "/_macros.html" import render_pagination %}

{% block content %}
<div class="grid-profile-container">
  {% include "/users/_home-info.html" %}
  <div class="profile-content-container">
    <span class="back-to-previous"><a href="{{ url_for('users.home') }}">Back to home</a></span>
    <h3 class="page-sub-title">My posts</h3>
    {% if posts.pages > 1 %}
    {{ render_pagination(posts, 'users.my_posts') }}
    {% endif %}
    {% if posts.items %}
      {% for post in posts.items %}
      {% include "/users/_post.html" %}
      {% endfor %}
    {% else %}
    <p class="card">You haven't posted anything yet!</p>
    {% endif %}
    {% if posts.pages > 1 %}
    {{ render_pagination(posts, 'users.my_posts') }}
    {% endif %}
  </div><!--//END .profile-content-container-->
</div><!--//END .grid-profile-container-->
{% endblock %}
