{% extends "/base.html" %}

{% block content %}
<h3 class="page-sub-title">Notifications</h3>
{% if notifications %}
  {% for n in notifications %}
    {% if n.name == 'comment_wall' %}
    <li>
      <a href="{{ url_for('users.profile', username=n.notifier.username) }}">{{ n.notifier.full_name }}</a>
      commented on a
      <a href="{{ url_for('users.post_comments', post_id=n.comment.post.id) }}">post</a> 
      on your wall
    </li>
    {% elif n.name == 'comment_like_wall' %}
    <li>
      <a href="{{ url_for('users.profile', username=n.notifier.username) }}">{{ n.notifier.full_name }}</a> 
      liked a comment from a
      <a href="{{ url_for('users.post_comments', post_id=n.comment.post.id) }}">post</a>
      on your wall
    </li>
    {% elif n.name == 'comment_like' %}
    <li>
      <a href="{{ url_for('users.profile', username=n.notifier.username) }}">{{ n.notifier.full_name }}</a>
      liked your comment
    </li>
    {% elif n.name == 'post_like_wall' %}
    <li>
      <a href="{{ url_for('users.profile', username=n.notifier.username) }}">{{ n.notifier.full_name }}</a>
      liked a
      <a href="{{ url_for('users.post_comments', post_id=n.post.id) }}">post</a>
      on your wall
    </li>
    {% elif n.name == 'post_like' %}
    <li>
      <a href="{{ url_for('users.profile', username=n.notifier.username) }}">{{ n.notifier.full_name }}</a>
      liked your
      <a href="{{ url_for('users.post_comments', post_id=n.post.id) }}">post</a>
    </li>
    {% elif n.name == 'post' %}
    <li>
      <a href="{{ url_for('users.profile', username=n.notifier.username) }}">{{ n.notifier.full_name }}</a>
      posted on your
      <a href="{{ url_for('users.post_comments', post_id=n.post.id) }}">wall</a>
    </li>
    {% endif %}
  {% endfor %}
{% endif %}

<br><br><br><br>

<table>
  <tr>
    <th>Name</th>
    <th>Read</th>
    <th>Created</th>
    <th>Post ID</th>
    <th>Comment ID</th>
    <th>Notified ID</th>
    <th>Notifier ID</th>
  </tr>
  {% for n in current_user.notifications %}
  <tr>
    <td>{{ n.name }}</td>
    <td>{{ n.read }}</td>
    <td>{{ n.created }}</td>
    <td>{{ n.post_id }}</td>
    <td>{{ n.comment_id }}</td>
    <td>{{ n.notified_id }}</td>
    <td>{{ n.notifier_id }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
