{% extends "base.html" %}

{% block content %}
<div class="post-and-comment-edit">
  <a class="back-to-page" href="{{ url_for('users.post', post_id=post.id) }}">
    <i class="fa fa-chevron-left"></i>
    Back to post
  </a>
  <div class="main-container">
    {% if current_user == post.author %}
    <div class="edit-form-wrapper">
      <div class="header-group">
        <i class="fa fa-edit"></i>
        <h3>Edit Post</h3>
      </div><!--//END .header-group-->
      <form class="post-form" method="post" novalidate>
        <div class="field-container">
          {% if form.body.errors %}
          {{ form.body(rows="3") }}
          <p>{{ form.body.errors[0] }}</p>
          {% else %}
          {{ form.body(rows="3") }}
          {% endif %}
        </div>
        {{ form.submit(class="btn btn-gradient-green", value='Update') }}
        {{ form.hidden_tag() }}
      </form>
    </div><!--//END .edit-form-wrapper-->
    {% endif %}
    {% if post.edits.count() %}
    <div class="edit-history-wrapper">
      <div class="header-group page-sub-title">
        <i class="fa fa-history"></i>
        <h4>History</h4>
      </div>
      <ul class="edit-history">
        {% for edit in post.edits %}
        <li>
          <p>{{ edit.body }}</p>
          {{ moment(edit.created).fromNow() }}
        </li>
        {% endfor %}
    </ul><!--//END .edit-history-->
    </div><!--//END .edit-history-wrapper-->
    {% endif %}
  </div><!--//END .main-container-->
</div><!--//END .post-and-comment-edit-->
{% endblock %}
