{% extends "/base.html" %}

{% block content %}
<div class="grid-container">
  {% include "/users/_profile-info.html" %}

  <main class="profile-content">
    {% if current_user != user %}
    <form method="post" novalidate>
      {{ form.body(placeholder="Write on {}'s wall".format(user.first_name)) }}
      {{ form.submit }}
      {{ form.csrf_token }}
    </form>
    {% endif %}

    {% if posts.pages > 1 %}
      {% from "/_macros.html" import render_pagination %}
      {{ render_pagination(posts, 'users.profile', user.username) }}
    {% endif %}

    {% if posts.items %}
      {% for post in posts.items %}
      {% include "/users/_post.html" %}
      {% endfor %}
    {% else %}
      <p class="card">
      {% if current_user == user %}
        No posts to show.
      {% else %} 
        {{ user.first_name }} doesn't have any posts to show.
      {% endif %}
      </p>
    {% endif %}

    {% if posts.pages > 1 %}
      {% from "/_macros.html" import render_pagination %}
      {{ render_pagination(posts, 'users.profile', user.username) }}
    {% endif %}
  </main><!--//END .user-wall-->
</div><!--//END .grid-container-->
{% endblock %}
