/**
 * CSS StyleSheet
 *
 * author: Daniel Lindegren
 *
 * Table of contents (s:toc):
 * - Variables (s:variables)
 * - Defaults (s:defaults)
 * - Forms (s:forms)
 * - Site header (s:site-header)
 * - Flash messages (s:flash)
 * - Index (s:index)
 * - Posts (s:posts)
 */

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

/* Variables (s:variables) */
:root {
  --green: #26bc18;
  --dark-green: #21a42f;
  --light-gray: #f9f9f9;
  --gray-border: #e3e3e3;
  --light-green: #e9ffe0;
  --green-border: #c9ffb2;
  --green-text: #335922;
}
/* //END Variables (s:variables) */

/* Defaults (s:defaults) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;

  color: #333;
  font-size: 1.4rem;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
}

p,
ol,
ul,
dl {
  margin: 0 0 10px 0;
  padding: 0;
}

p {
  line-height: 2;
}

ol,
ul {
  list-style: none;
}

a,
a:link {
  color: var(--green);
  
  ext-decoration: none;
}

a:hover,
a:active {
  color: #333;
  text-decoration: underline;
}

.responsive-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
}

.no-margin {
  margin: 0;
}

.card {
  margin-bottom: 20px;
  padding: 20px;

  background-color: var(--light-gray);
  border: 1px solid var(--gray-border);
  border-radius: 3px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.grid-container > .user-wall { grid-column: col-start / -1; }
.grid-container > .user-info { grid-column: col-start / -1; }

@media (min-width: 768px) {
  .grid-container > .user-info { grid-column: col-start / span 4; }
  .grid-container > .user-wall { grid-column: col-start 5 / span 8; }
}

/* //END Default (s:default) */

/* Forms (s:forms) */
.form-container {
  margin: 50px auto;
  max-width: 400px;
  padding: 25px;
  text-align: center;

  background-color: var(--light-gray);
  border: 1px solid var(--gray-border);
}

.form-header {
  margin-bottom: 25px;
  font-weight: bold;
}

input,
textarea {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;

  border: 1px solid var(--gray-border);
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  height: 75px;
  resize: none;
}

input[type=submit] {
  background-color: var(--green); 
  border-color: var(--dark-green);
  color: #fff;
}

input[type=submit]:hover,
input[type=submit]:active {
  background-color: var(--dark-green);
  cursor: pointer;
}
/* //END Forms (s:forms) */

/* Site Header (s:site-header) */
.header-container {
  margin-bottom: 20px;

  background-color: var(--light-gray);
  border-bottom: 1px solid var(--gray-border);
}

.header-container .site-header {
  align-items: center;
  display: flex;
}

.branding {
  margin: 0;
  padding: 10px 0;
}

.branding a {
  font: 30px "Fredoka One";
  text-decoration: none;
}

.branding a:hover,
.branding a:active {
  color: var(--green);
}

.primary-nav {
  display: flex;
  margin: 0 0 0 auto;
}

.primary-nav li {
  padding: 0 10px;
}

.primary-nav li:last-child {
  padding-right: 0;
}

.primary-nav a {
  color: #2d2d2d;
}

.primary-nav a:hover,
.primary-nav a:active {
  color: var(--green);
  text-decoration: none;
}

.site-header .login,
.site-header .register {
  margin: 0 0 0 auto;
  padding: 4px 9px;

  background-color: var(--green);
  border: 1px solid var(--dark-green);
  border-radius: 3px;
  color: #fff;
}

.site-header .login:hover,
.site-header .login:active,
.site-header .register:hover,
.site-header .register:active {
  background-color: var(--dark-green);
  color: #fff;
  text-decoration: none;
}
/* // END Site Header (s:site-header) */

/* Flash Messages (s:flash) */
.flash {
  margin-bottom: 20px;
  padding: 15px;

  background-color: var(--light-green);
  border: 1px solid #c9ffb2;
  border-radius: 5px;
  color: var(--green-text);
}
.flash > ul {
  margin: 0;
}
/* //END Flash Messages (s:flash) */

/* Index (s:index) */
.index-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 500px 430px;
  margin: 40px 0;
}

.index-container .registration {
  padding: 20px;

  background: var(--light-gray);
}

.index-container .welcome-header,
.index-container .sign-up {
  display: block;
  margin-bottom: 20px;

  font-size: 3rem;
}

.index-container .content p {
  font-size: 2rem;
  line-height: 1.5;
}
/* //END Index (s:index) */

/* Posts (s:posts) */
.user-wall > article {
  margin-bottom: 20px;
  padding: 10px;
  
  background-color: #f9f9f9;
  border-radius: 3px;
}

.user-wall > form {
  margin-bottom: 20px;
}
/* //END Posts (s:posts) */

.profile-info-container {
  padding: 10px;
  overflow: hidden;

  background-color: #f9f9f9;
  border-radius: 3px;
}

.profile-info {
  margin-bottom: 20px;
  overflow: hidden;
}

.profile-info > img {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.profile-info > h2 {
  margin: 10px 0 0;

  font-size: 20px;
}

.user-numbers {
  display: flex;
  text-align: center;
}

.user-numbers > a {
  width: 33.33333333%;

  color: #333;
  text-decoration: none;
}

.user-numbers > a:hover,
.user-numbers > a:link {
  color: var(--green);
}

.user-numbers > a span {
  display: block;
  margin-top: 5px;

  color: var(--green);
  font-size: 20px;
}
