/**
 * CSS Stylesheet for SOCIAL
 *
 * Author: Daniel Lindegren
 *
 * Table of contents (s:toc):
 * - Fonts (s:fonts)
 * - Colors (s:colors)
 * - Defaults (s:defaults)
 * - Responsive (s:responsive)
 * - Header / Primary Nav (s:header) (s:primary-nav)
 * - Flash messages (s:flash-messages)
 */

/* Fonts (s:fonts) */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/* //END Fonts (s:fonts) */

/**
 * Colors
 *
 * Solid colors
 * ~~~~~~~~~~~~
 * #ffffff - white
 * #f9f9f9 - light gray
 * #c8c9ca - gray
 * #5a5a5a - dark gray
 * #d8dee2 - light gray blue
 * #262b30 - dark gray blue
 * #de4c4a - red
 * #25b734 - green
 * #006cd1 - blue
 *
 * Gradients
 * ~~~~~~~~~
 * #27a44e - #31c961 - green
 * #eff3f6 - #fafbfc - gray
 */

/* Defaults (s:defaults) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;

  background-color: #f9f9f9;
  font-size: 1.6rem;
  line-height: 1;
}

h1,
h2,
h3 {
  margin: 0;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #006cd1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* //END Defaults (s:defaults) */

/* Responsive (s:responsive) */
.responsive-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .responsive-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .responsive-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .responsive-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .responsive-container {
    max-width: 1140px;
  }
}
/* //END Responsive (s:responsive) */

/* Header / Primary Nav (s:header) (s:primary-nav) */
.primary-header-wrapper {
  overflow: hidden;
  padding: 15px 0;

  background-color: #262b30;
  color: #ffffff;
}

.primary-header-container {
  align-items: center;
  display: flex;
}

.branding > a { 
  color: #ffffff;
  font: 3rem "Fredoka One";
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
}

.primary-nav {
  display: flex;
  margin-left: auto;

  padding: 0;
}

.primary-nav > li {
  padding: 0 10px;
}

.primary-nav > li:nth-child(2) {
  padding-right: 40px;
}

.primary-nav > li:last-child {
  padding-right: 0;
}

.primary-nav > li > a {
  color: #ffffff;
  font-size: 1.6rem;
}

.primary-nav > li > a:hover {
  color: #c8c9ca;
  text-decoration: none;
}
/* //END Header / Primary Nav (s:header) (s:primary-nav) */

/* Flash messages {s:flash-messages) */
.flash-messages-wrapper {
  padding: 20px 0;

  background-color: #daedfd;
  border-bottom: 1px solid #becfdd;
}
/* Flash messages {s:flash-messages) */
