{% extends "/base.html" %}

{% block content %}
<div class="settings grid responsive-container">
  <div class="grid-settings-nav main-container">
    {% include "users/settings/_settings-nav.html" %}
  </div><!--//END .grid-settings-nav .main-container-->
  <div class="grid-settings-content main-container">
    <h3 class="page-sub-title">Account Settings</h3>
    <form method="post" novalidate>
      <div class="field-container">
        {{ form.username.label }}
        {% if form.username.errors %}
        {{ form.username(class="input-error", placeholder=form.username.label.text) }}
        <p>{{ form.username.errors[0] }}</p>
        {% else %}
        {{ form.username(placeholder=form.username.label.text) }}
        {% endif %}
      </div><!--//END .field-container-->
      <div class="field-container">
        {{ form.email.label }}
        {% if form.email.errors %}
        {{ form.email(class="input-error", placeholder=form.email.label.text) }}
        <p>{{ form.email.errors[0] }}</p>
        {% else %}
        {{ form.email(placeholder=form.email.label.text) }}
        {% endif %}
      </div><!--//END .field-container-->
      {{ form.submit(class="btn btn-gradient-green") }}
      {{ form.hidden_tag() }}
    </form>
  </div><!--//END .grid-settings-content .main-containre-->
</div><!--//END .settings .grid .responsive-container-->
{% endblock %}
