{% extends "/base.html" %}

{% block content %}
<h2 class="page-title">Account Settings</h2>
<div class="grid-container">
  {% include "/users/settings/_settings-nav.html" %}

  <main class="settings-content">
    <h3 class="page-sub-title">Account</h3>
    <form method="post" novalidate>
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(placeholder="Username") }}
      </div>
      <div class="form-group">
        {{ form.email.label }}
        {{ form.email(placeholder="Email") }}
      </div>
      {{ form.submit }}
      {{ form.hidden_tag() }}
    </form>
  </main><!--//END .settings-content-container-->
</div><!--//END .settings-container-->
{% endblock %}
