{% extends "/base.html" %}

{% block content %}
<div class="settings grid responsive-container">
  <div class="grid-settings-nav main-container">
    {% include "users/settings/_settings-nav.html" %}
  </div><!--//END .grid-settings-nav .main-container-->
  <div class="grid-settings-content main-container">
    <p class="alert warning">
      Once you delete your account, there is no going back. Please be absolutely
      sure this is what you want to do.
    </p>
    <form method="post" novalidate>
      <div class="field-container">
        {{ form.username.label }}
        {% if form.username.errors %}
        {{ form.username(class="input-error", placeholder=current_user.username) }}
        <p>{{ form.username.errors[0] }}</p>
        {% else %}
        {{ form.username(placeholder=current_user.username) }}
        {% endif %}
      </div>
      <div class="field-container">
        {{ form.password.label }}
        {% if form.password.errors %}
        {{ form.password(class="input-error", placeholder=form.password.label.text) }}
        <p>{{ form.password.errors[0] }}</p>
        {% else %}
        {{ form.password(placeholder=form.password.label.text) }}
        {% endif %}
      </div>
      {{ form.submit(class='btn btn-gradient-red') }}
      {{ form.hidden_tag() }}
    </form>
  </div><!--//END .grid-settings-content .main-containre-->
</div><!--//END .settings .grid .responsive-container-->
{% endblock %}
