{% extends "base.html" %}

{% block content %}
<div class="settings grid responsive-container">
  <div class="grid-settings-nav main-container">
    {% include "users/settings/_settings-nav.html" %}
  </div><!--//END .grid-settings-nav .main-container-->
  <div class="grid-settings-content main-container">
    <h3 class="page-sub-title">Miscellaneous settings</h3>
    <form method="post" novalidate>
      <div class="field-container">
        {{ form.posts_per_page.label }}
        {% if form.posts_per_page.errors %}
        {{ form.posts_per_page(class="input-error") }}
        <p>{{ form.posts_per_page.errors[0] }}</p>
        {% else %}
        {{ form.posts_per_page }}
        {% endif %}
      </div>
      {{ form.submit(class="btn btn-gradient-green") }}
      {{ form.hidden_tag() }}
    </form>
  </div><!--//END .grid-settings-content .main-containre-->
</div><!--//END .settings .grid .responsive-container-->
{% endblock %}
