{% extends "/base.html" %}

{% block content %}
<h2 class="page-title">Account Settings</h2>
<div class="grid-container">
  {% include "/users/settings/_settings-nav.html" %}

  <div class="settings-content">
    <h3 class="page-sub-title">Password</h3>
    <form method="post" novalidate>
      <div class="form-group">
        {{ form.current_password.label }}
        <div class="input-container">
          {% if form.current_password.errors %}
          {{ form.current_password(class="input-error", placeholder="Current password") }}
          <p>{{ form.current_password.errors[0] }}</p>
          {% else %}
          {{ form.current_password(placeholder="Current password") }}
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        {{ form.password.label }}
        <div class="input-container">
          {% if form.password.errors %}
          {{ form.password(class="input-error", placeholder="New password") }}
          <p>{{ form.password.errors[0] }}</p>
          {% else %}
          {{ form.password(placeholder="New password") }}
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        {{ form.password2.label }}
        <div class="input-container">
          {% if form.password2.errors %}
          {{ form.password2(class="input-error", placeholder="Repeat new password") }}
          <p>{{ form.password2.errors[0] }}</p>
          {% else %}
          {{ form.password2(placeholder="Repeat new password") }}
          {% endif %}
        </div>
      </div>
      {{ form.submit }}
      {{ form.hidden_tag() }}
    </form>
  </div><!--//END .settings-content-container-->
</div><!--//END .settings-container-->
{% endblock %}
