{% extends "/base.html" %}

{% block content %}
<h2 class="page-title">Account Settings</h2>
<div class="grid-container">
  {% include "/users/settings/_settings-nav.html" %}

  <div class="settings-content">
    <h3 class="page-sub-title">Password</h3>
    <form method="post" novalidate>
      {{ form.current_password(placeholder="Current password") }}
      {{ form.password(placeholder="New password") }}
      {{ form.password2(placeholder="Repeat new password") }}
      {{ form.submit }}
      {{ form.hidden_tag() }}
    </form>
  </div><!--//END .settings-content-container-->
</div><!--//END .settings-container-->
{% endblock %}
