{% extends "/base.html" %}

{% block content %}
{% include "/users/settings/_settings-nav.html" %}

<form method="post" novalidate>
  <div>
    {{ form.current_password.label }}<br>
    {{ form.current_password }}
    {% if form.current_password.errors %}
    <ul>
      {% for error in form.current_password.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div>
    {{ form.password.label }}<br>
    {{ form.password }}
    {% if form.password.errors %}
    <ul>
      {% for error in form.password.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div>
    {{ form.password2.label }}<br>
    {{ form.password2 }}
    {% if form.password2.errors %}
    <ul>
      {% for error in form.password2.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div>
    {{ form.submit }}
    {{ form.hidden_tag() }}
  </div>
</form>
{% endblock %}
