{% extends "base.html" %}

{% block content %}
<div class="settings grid responsive-container">
  <div class="grid-settings-nav main-container">
    {% include "users/settings/_settings-nav.html" %}
  </div><!--//END .grid-settings-nav .main-container-->
  <div class="grid-settings-content main-container">
    <h3 class="page-sub-title">Profile settings</h3>
    <form method="post" novalidate>
      <div class="field-container">
        {{ form.first_name.label }}
        {% if form.first_name.errors %}
        {{ form.first_name(class="input-error", placeholder=form.first_name.label.text) }}
        <p>{{ form.first_name.errors[0] }}</p>
        {% else %}
        {{ form.first_name(placeholder=form.first_name.label.text) }}
        {% endif %}
      </div>
      <div class="field-container">
        {{ form.last_name.label }}
        {% if form.last_name.errors %}
        {{ form.last_name(class="input-error", placeholder=form.last_name.label.text) }}
        <p>{{ form.last_name.errors[0] }}</p>
        {% else %}
        {{ form.last_name(placeholder=form.last_name.label.text) }}
        {% endif %}
      </div>
      <div class="field-container">
        {{ form.bio.label }}
        {% if form.bio.errors %}
        {{ form.bio(class="input-error", placeholder="Write a little bit about yourself") }}
        <p>{{ form.bio.errors[0] }}</p>
        {% else %}
        {{ form.bio(placeholder="Write a little bit about yourself") }}
        {% endif %}
      </div>
      <div class="field-container">
        {{ form.location.label }}
        {% if form.location.errors %}
        {{ form.location(class="input-error", placeholder="Example: Atlanta, Georgia") }}
        <p>{{ form.location.errors[0] }}</p>
        {% else %}
        {{ form.location(placeholder="Example: Atlanta, Georgia") }}
        {% endif %}
      </div>
      {{ form.submit(class="btn btn-gradient-green") }}
      {{ form.hidden_tag() }}
    </form>
  </div><!--//END .grid-settings-content .main-containre-->
</div><!--//END .settings .grid .responsive-container-->
{% endblock %}
