{% extends "/base.html" %}

{% block content %}
<h2 class="page-title">Account Settings</h2>
<div class="grid-container">
  {% include "/users/settings/_settings-nav.html" %}

  <div class="settings-content">
    <h3 class="page-sub-title">User Info</h3>
    <form method="post" novalidate>
      <div class="form-group">
        {{ form.first_name.label }}
        <div class="input-container">
          {% if form.first_name.errors %}
          {{ form.first_name(class="input-error", placeholder="First name") }}
          <p>{{ form.first_name.errors[0] }}</p>
          {% else %}
          {{ form.first_name(placeholder="First name") }}
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        {{ form.last_name.label }}
        <div class="input-container">
          {% if form.last_name.errors %}
          {{ form.last_name(class="input-error", placeholder="Last name") }}
          <p>{{ form.last_name.errors[0] }}</p>
          {% else %}
          {{ form.last_name(placeholder="Last name") }}
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        {{ form.about_me.label }}
        <div class="input-container">
          {% if form.about_me.errors %}
          {{ form.about_me(class="input-error", placeholder="Write a little bit about yourself") }}
          <p>{{ form.about_me.errors[0] }}</p>
          {% else %}
          {{ form.about_me(placeholder="Write a little bit about yourself") }}
          {% endif %}
        </div>
      </div>
      {{ form.submit }}
      {{ form.hidden_tag() }}
    </form>
  </div><!--//END .settings-content-container-->
</div><!--//END .settings-container-->
{% endblock %}
