{% extends "/base.html" %}

{% block content %}
<h2 class="page-title">Account Settings</h2>
<div class="grid-container">
  {% include "/users/settings/_settings-nav.html" %}

  <div class="settings-content">
    <h3 class="page-sub-title">User Info</h3>
    <form method="post" novalidate>
      {{ form.first_name(placeholder="First name") }}
      {{ form.last_name(placeholder="Last name") }}
      {{ form.about_me(placeholder="Write a little bit about yourself") }}
      {{ form.submit }}
      {{ form.hidden_tag() }}
    </form>
  </div><!--//END .settings-content-container-->
</div><!--//END .settings-container-->
{% endblock %}
