{% extends "/base.html" %}

{% block content %}
{% include "/users/settings/_settings-nav.html" %}

<form method="post" novalidate>
  <div>
    {{ form.first_name.label }}<br>
    {{ form.first_name }}
    {%- if form.first_name.errors %}
    <ul>
      {%- for error in form.first_name.errors %}
      <li>{{ error }}</li>
      {%- endfor %}
    </ul>
    {%- endif %}
  </div>
  <div>
    {{ form.last_name.label }}<br>
    {{ form.last_name }}
    {%- if form.last_name.errors %}
    <ul>
      {%- for error in form.last_name.errors %}
      <li>{{ error }}</li>
      {%- endfor %}
    </ul>
    {%- endif %}
  </div>
  <div>
    {{ form.about_me.label }}<br>
    {{ form.about_me }}
  </div>
  <div>
    {{ form.submit }}
    {{ form.hidden_tag() }}
  </div>
</form>
{% endblock %}
