{% macro render_pagination(pagination, endpoint, username=None) %}

<ul class="pagination">
  {% if pagination.has_prev %}
  <li><a href="{{ url_for(endpoint, username=username, page=pagination.prev_num) }}">&lt;</a>
  {% else %}
  <li>&lt;</li>
  {% endif %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li><a href="{{ url_for(endpoint, username=username, page=page) }}">{{ page }}</a></li>
      {% else %}
      <li><strong>{{ page }}</strong></li>
      {% endif %}
    {% else %}
    <li>&hellip;</li>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
  <li><a href="{{ url_for(endpoint, username=username, page=pagination.next_num) }}">&gt;</a></li>
  {% else %}
  <li>&gt;</li>
  {% endif %}
</ul><!--//END .pagination-->

{% endmacro %}


{% macro render_search_pagination(pagination, endpoint, search) %}

<ul class="pagination">
  {% if pagination.has_prev %}
  <li><a href="{{ url_for(endpoint, search=search, page=pagination.prev_num) }}">&lt;</a>
  {% else %}
  <li>&lt;</li>
  {% endif %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li><a href="{{ url_for(endpoint, search=search, page=page) }}">{{ page }}</a></li>
      {% else %}
      <li><strong>{{ page }}</strong></li>
      {% endif %}
    {% else %}
    <li>&hellip;</li>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
  <li><a href="{{ url_for(endpoint, search=search, page=pagination.next_num) }}">&gt;</a></li>
  {% else %}
  <li>&gt;</li>
  {% endif %}
</ul><!--//END .pagination-->

{% endmacro %}


{% macro render_post_pagination(pagination, endpoint, post_id) %}

<ul class="pagination">
  {% if pagination.has_prev %}
  <li><a href="{{ url_for(endpoint, post_id=post_id, page=pagination.prev_num) }}">&lt;</a>
  {% else %}
  <li>&lt;</li>
  {% endif %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li><a href="{{ url_for(endpoint, post_id=post_id, page=page) }}">{{ page }}</a></li>
      {% else %}
      <li><strong>{{ page }}</strong></li>
      {% endif %}
    {% else %}
    <li>&hellip;</li>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
  <li><a href="{{ url_for(endpoint, post_id=post_id, page=pagination.next_num) }}">&gt;</a></li>
  {% else %}
  <li>&gt;</li>
  {% endif %}
</ul><!--//END .pagination-->

{% endmacro %}


{% macro render_comment_pagination(pagination, endpoint, comment_id) %}

<ul class="pagination">
  {% if pagination.has_prev %}
  <li><a href="{{ url_for(endpoint, comment_id=comment_id, page=pagination.prev_num) }}">&lt;</a>
  {% else %}
  <li>&lt;</li>
  {% endif %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li><a href="{{ url_for(endpoint, comment_id=comment_id, page=page) }}">{{ page }}</a></li>
      {% else %}
      <li><strong>{{ page }}</strong></li>
      {% endif %}
    {% else %}
    <li>&hellip;</li>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
  <li><a href="{{ url_for(endpoint, comment_id=comment_id, page=pagination.next_num) }}">&gt;</a></li>
  {% else %}
  <li>&gt;</li>
  {% endif %}
</ul><!--//END .pagination-->

{% endmacro %}
