<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

  <title>{% block page_title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<body>

{%- if current_user.is_authenticated %}
<ul>
  <li><a href="{{ url_for('users.home') }}">{{ current_user.first_name }}</a></li>
  <li><a href="{{ url_for('users.list') }}">List</a></li>
  <li><a href="{{ url_for('static_views.logout') }}">Logout</a></li>
</ul>
{%- else %}
Some other nav
{%- endif %}

{%- with messages = get_flashed_messages() %}
  {%- if messages %}
  <div>
    <ul>
      {%- for message in messages %}
      <li>{{ message }}</li>
      {%- endfor %}
    </ul>
  </div>
  {%- endif %}
{%- endwith %}

{%- block content %}
{%- endblock %}

{%- block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{ moment.include_moment() }}
{%- endblock %}

</body>
</html>
