{% extends "base.html" %}

{% block content %}
<div class="index-wrapper">
  <div class="index responsive-container">
    <div class="welcome">
      <h1>
        Welcome to {{ APP_NAME }}!
        <span>
          A social media app I wrote for fun...
        </span>
      </h1>
    </div><!--//END .welcome-->
    <div class="register-form">
      <h2 class="form-header">Sign up for {{ APP_NAME }}</h2>
      {% include "_register-form.html" %}
    </div><!--//END .register-form-->
  </div><!--//END .index .responsive-container-->
</div><!--//END .index-wrapper-->
{% endblock %}
