{% extends "/base.html" %}

{% block content %}
<div class="form-container">
  <p class="form-header">Reset your password</p>
  <form method="post" novalidate>
    <div class="input-container">
      {% if form.password.errors %}
      {{ form.password(class="input-error", placeholder="Enter a new password") }}
      <p>{{ form.password.errors[0] }}</p>
      {% else %}
      {{ form.password(placeholder="Enter a new password") }}
      {% endif %}
    </div>
    <div class="input-container">
      {% if form.password2.errors %}
      {{ form.password2(class="input-error", placeholder="Repeat new password") }}
      <p>{{ form.password2.errors[0] }}</p>
      {% else %}
      {{ form.password2(placeholder="Repeat new password") }}
      {% endif %}
    </div>
    {{ form.submit(class="no-margin") }}
    {{ form.hidden_tag() }}
  </form>
</div>
{% endblock %}
