{% extends "base.html" %}
{% block page_title %}Reset password request - {{ APP_NAME }}{% endblock %}

{% block content %}
<div class="lonely-form">
  <h2 class="form-header">Password Request</h2>
  <form class="main-container" method="post" novalidate>
    <div class="field-container">
      {{ form.email.label }}
      {% if form.email.errors %}
      {{ form.email(class="input-error", placeholder="Enter your email address") }}
      <p>{{ form.email.errors[0] }}</p>
      {% else %}
      {{ form.email(placeholder="Enter your email address") }}
      {% endif %}
    </div>
    {{ form.submit(class='btn btn-gradient-green') }}
    {{ form.hidden_tag() }}
  </form><!--//END .main-container-->
</div><!--//END .lonely-form-->
{% endblock %}
