{% extends "/base.html" %}
{% block page_title %}Reset password request - {{ APP_NAME }}{% endblock %}

{% block content %}
<div class="reset-password form-container">
  <p class="form-header">Password request</p>
  <form class="small-form" method="post" novalidate>
    <div class="input-container">
      {% if form.email.errors %}
      {{ form.email(class="input-error", placeholder="Enter your email address") }}
      <p>{{ form.email.errors[0] }}</p>
      {% else %}
      {{ form.email(placeholder="Enter your email address") }}
      {% endif %}
    </div>
    {{ form.submit(class="no-margin") }}
    {{ form.hidden_tag() }}
  </form>
</div>
{% endblock %}
